<div class="stretch">

<h1>Sign In</h1>

<% if flash[:danger] %>
    <div id="error_explanation"><%= flash[:danger] %></div><br><br>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
<div class="form-row">
<%= f.label :email, class: "form-row label" %>
<%= f.email_field :email, class: "form-row input" %><br><br>
</div>
<div class="form-row">
<%= f.label :password, class: "form-row label" %>
<%= f.password_field :password, class: "form-row input" %><br><br>
</div>
<%= f.submit "Log in", :class => 'altbtn altbtn-lg altbtn-outline' %><br><br>
<% end %>
<br><br>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>