<div class="stretch">

<h1>Sign In</h1>

<% if flash[:danger] %>
    <div id="error_explanation"><%= flash[:danger] %></div><br><br>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :email%>
<%= f.email_field :email, class: 'form-control' %><br><br>
<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %><br><br>
<%= f.submit "Log in" %><br><br>
<% end %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>