<div class="stretch">

<h1>New Rolodex</h1>

<% if @rolodex.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @rolodex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <br><br></ul>
    </div>
  <% end %>

<h2>Please Choose A Nickname For This Rolodex<br><br>
 Example: Friends<br></h2>

<%= form_for @rolodex do |f| %>
  <p>Rolodex Nickname: <%= f.text_field :nickname %></p><br><br>
  <ul>
    <%= f.fields_for :referrals do |referral| %>
    <li>
      First Name: <%= referral.text_field :ref_first_name %><br><br>
      Last Name: <%= referral.text_field :ref_last_name %><br><br>
      Address Line 1: <%= referral.text_field :ref_address_line_one %><br><br>
      Address Line 2: <%= referral.text_field :ref_address_line_two %><br><br><br>
    </li>
    <% end %>
  </ul>
  <%= f.submit 'Add Referral', :class => 'altbtn altbtn-lg altbtn-outline' %>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>