<!DOCTYPE html>
<html>
<head>
   <title>Share Your Internet - Share Wi-Fi With Neighbors And Save</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <meta name="description" content="Share Wi-Fi With Your Neighbors And Save Money">
  <meta name="keywords" content="share internet, share wifi, internet share, wifi share, save money on internet">
  <meta name="Classification" content="internet, wifi, internet sharing">
  <link rel="icon" 
     type="image/x-icon" 
     href="http://www.iamthemodernman.biz/internet/2/images/favicon.ico">

</head>

  <body>

      <!-- Header/Menu -->


      <div id="wrap">

        <div id="main">

          <div class="top">
             <div class="header">
                <a href="<%= root_url %>">
                   <img src="http://www.iamthemodernman.biz/internet/2/images/wifiblueicon.png" alt="logo" height="50" width="50"></a>
                   <ul>
                     <li id="logo"><a href="<%= root_url %>">SHARE YOUR INTERNET</a></li>

                     <% if !logged_in? %>                    
                       <li><%= link_to "Log In", login_path %></li>
                       <li><%= link_to "FAQ", faq_path %></li>
                        <li><%= link_to "Sign Up", signup_path %></li>
  

                     <% else %>
                       <li><%= link_to "Log Out", logout_path, method: :delete %></li>
                       <li><%= link_to "Your Account", user_path(current_user) %></li>
                       <li><a href="#">FAQ</a></li>                      
                     <% end %>
                     </ul>
          </div>
        </div>


          <%= yield %>

 
      </div>


      <!-- Social Media -->

      <div id="bottom">
      <div class="footer">
         <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="http://www.iamthemodernman.biz/internet/2/images/facebookrounded.png" alt="facebook" height="50" width="50"></a>
         <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><img src="http://www.iamthemodernman.biz/internet/2/images/twitterlargeicon.png" alt="twitter" height="50" width="50"></a>
         <a href="https://www.reddit.com" target="_blank" rel="noopener noreferrer"><img src="http://www.iamthemodernman.biz/internet/2/images/redditcircle.png" alt="reddit" height="50" width="50"></a>
      </div>

      <!-- Copyright -->

      <div class="copyright">
         <p>Copyright 2017 ShareYourInternet.com</p>
      </div>
      </div>
   </body>
</html>





</html>